// COLORS 

$white-color: #fff;
$black-color: #000;
$dark-gray-color: #060606;
$dark-blue-color: #6a6b8e;
$bright-orange-color: #f6ae48;
$silver-color: #c1c1c1;
$very-dark-color: #635786;
$pale-orange-color: #fce7ca;
$light-blue-color: #4d9eb9;
$light-orange-color: #e1cc73;
$light-soft-green-color: #53c04f;

// COLORS: link-header-color

$link-header: $black-color;
$link-header-hover: $bright-orange-color;

// COLORS: bg-color

$bg-primary: $white-color;
$bg-main-section: $dark-blue-color;
$bg-panel-menu: $white-color;
$bg-header-scroll: $pale-orange-color;
$bg-card-orange: $bright-orange-color;

// FONTS 

$font-primary: 'Arial Regular';
$font-navigation: 'Futura Light Italic';
$font-first-heading: 'Helvetica Neue Cyr Bold';
$font-second-heading: 'Myriad Pro Regular';
$font-bg-text: 'Tahoma Bold';

// FOTNS: icons 

$font-icon: "FontAwesome";

// BORDER

$border-section: 2px solid $white-color;
$border-btn-price: 2px solid $white-color;
$border-btn-dev-first: 2px solid $light-blue-color;
$border-btn-dev-second: 2px solid $light-orange-color;
$border-btn-dev-third: 2px solid $light-soft-green-color;
$border-form-item: 3px solid $white-color;

// BORDER: radius


// BOX-SHADOW

$shadow-panel-menu: 1px 4px 5px 0px rgba(0,0,0,0.15);

// $ 
